In [15]:
from sqlalchemy import create_engine
import pandas as pd
import datetime

In [24]:
from sqlalchemy import Table, Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base

In [25]:
cnx = create_engine('postgresql://ubuntu@18.236.157.230:5432/ubuntu')

In [ ]:
cnx.table_names()

In [175]:
pd.read_sql_query('''SELECT * FROM forest_cover ORDER BY id desc LIMIT 5''',cnx)

,id,elevation,aspect,slope,horizontal_distance_to_hydrology,vertical_distance_to_hydrology,horizontal_distance_to_roadways,hillshade_9am,hillshade_noon,hillshade_3pm,horizontal_distance_to_fire_points,cover_type,wilderness_area,soil_type
0,15129,23,23,23,23,2323,23,23,2323,23,23,23,4,23
1,15128,2475,197,34,319,78,270,189,244,164,914,3,3,2
2,15127,2475,197,34,319,78,270,189,244,164,914,3,3,2
3,15126,21,1,11,5,5,5,5,5,5,5,5,5,5
4,15125,3200,13,24,600,200,4000,230,222,116,1500,1,4,17

In [168]:
int_id = pd.read_sql_query('''SELECT id FROM forest_cover ORDER BY id desc LIMIT 1''',cnx)
max_id = int_id['id'][0]

In [144]:
dftail = df.tail(1)
dftail.drop(['id'],1,inplace=True)

In [160]:
dftail['id'] = max_id+1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [166]:
def append_db(data):
    try:
        data.to_sql('forest_cover',cnx, if_exists='append', index=False)
        return 'success'
    except Exception as e:
        int_id = pd.read_sql_query('''SELECT id FROM forest_cover ORDER BY id desc LIMIT 1''',cnx)
        max_id = int_id['id'][0]
        data['id'] = max_id+1
        try:
            data.to_sql('forest_cover',cnx, if_exists='append', index=False)
            print('success 2nd try')
        except Exception as e2:
            "Could not rectify duplicate entries. \n{}".format(e2)
        return 'succeess?'

In [167]:
append_db(dftail)

success 2nd try

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

'succeess?'

In [142]:
#read in my train_clas data to load into the aws sql server. as a starting point for "ground truth"
df = pd.read_csv('train_clas.csv')
df = df.rename(index=str, columns={'Unnamed: 0':'id'})
df.columns = map(str.lower, df.columns)

In [102]:
df.to_sql('forest_cover',cnx, if_exists='append', index=False)

In [85]:
#testing adding data to a sql database through jupyter... it works!
data = [4,'jim','5','.8']

cols = ['id','name','age','accuracy']

df = pd.DataFrame(data,cols)

df = df.transpose()

df.to_sql('ewok',cnx, if_exists='append', index=False)

In [ ]:
# #This was used to create a table for sql on my aws. I loaded it through terminal and ubunutu.
# CREATE TABLE forest_cover (
#     Id SERIAL PRIMARY KEY,
#     Elevation INT,
#     Aspect INT,
#     Slope INT,
#     Horizontal_Distance_To_Hydrology INT,
#     Vertical_Distance_To_Hydrology INT,
#     Horizontal_Distance_To_Roadways INT,
#     Hillshade_9am INT,
#     Hillshade_Noon INT,
#     Hillshade_3pm INT,
#     Horizontal_Distance_To_Fire_Points INT, 
#     Cover_Type INT,
#     Wilderness_Area INT,
#     Soil_Type INT  
# );