In [15]:
from sqlalchemy import create_engine
import pandas as pd
import datetime

In [24]:
from sqlalchemy import Table, Column, Integer, String, DateTime, ForeignKey
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base

In [25]:
cnx = create_engine('postgresql://ubuntu@18.236.157.230:5432/ubuntu')

In [ ]:
cnx.table_names()

In [94]:
pd.read_sql_query('''SELECT * FROM forest_cover LIMIT 10''',cnx)

Empty DataFrame
Columns: [id, elevation, aspect, slope, horizontal_distance_to_hydrology, vertical_distance_to_hydrology, horizontal_distance_to_roadways, hillshade_9am, hillshade_noon, hillshade_3pm, horizontal_distance_to_fire_points, cover_type, wilderness_area, soil_type]
Index: []

In [96]:
#read in my train_clas data to load into the aws sql server. as a starting point for "ground truth"
df = pd.read_csv('train_clas.csv')
df = df.rename(index=str, columns={'Unnamed: 0':'id'})
df.columns = map(str.lower, df.columns)

In [ ]:
df.to_sql('forest_cover',cnx, if_exists='append', index=False)

In [85]:
#testing adding data to a sql database through jupyter... it works!
data = [4,'jim','5','.8']

cols = ['id','name','age','accuracy']

df = pd.DataFrame(data,cols)

df = df.transpose()

df.to_sql('ewok',cnx, if_exists='append', index=False)

In [ ]:
# #This was used to create a table for sql on my aws. I loaded it through terminal and ubunutu.
# CREATE TABLE forest_cover (
#     Id SERIAL PRIMARY KEY,
#     Elevation INT,
#     Aspect INT,
#     Slope INT,
#     Horizontal_Distance_To_Hydrology INT,
#     Vertical_Distance_To_Hydrology INT,
#     Horizontal_Distance_To_Roadways INT,
#     Hillshade_9am INT,
#     Hillshade_Noon INT,
#     Hillshade_3pm INT,
#     Horizontal_Distance_To_Fire_Points INT, 
#     Cover_Type INT,
#     Wilderness_Area INT,
#     Soil_Type INT  
# );